<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body id="app">
    <div class="xl:block lg:hidden md:hidden sm:hidden hidden">
        <div class="">
            <header class="bg-white/30 ">
                <nav
                    class="fixed mask-y-from-90% fixed flex lg:justify-between bg-green-600/30 justify- py-5 px-10 absolute z-5 lg:w-full w-full ">
                    <div>
                        <img src="https://cdn.prod.website-files.com/60e492c80c202f31c13247d8/60e492c80c202f88c03247fc_logo-farm-template.svg"
                            alt="">
                    </div>
                    <div class="flex gap-5 py-3">
                        <a class="text-2xl text-shadow-lg/10 font-arial font-bold text-green-500" href="#home">Home</a>
                        <a class="text-2xl text-white font-arial text-shadow-lg/10 font-bold hover:text-green-800"
                            href="#product">Product</a>
                        <a class="text-2xl text-white font-arial text-shadow-lg/10 font-bold hover:text-green-800"
                            href="#contact">Contact</a>
                    </div>


                </nav>

            </header>

            <section>
                <div>
                    <div id="home" class="absolute z-10">
                        <h1
                            class="text-shadow-green-700 lg:text-7xl text-2xl font-arial font-bold text-center mt-40 text-white ">
                            Organic
                            food
                            from <br>
                            the ground to your table</h1>
                        <h1
                            class=" lg:block hidden italic text-shadow-lg/20 lg:text-3xl text-md text-white lg:ml-80 ml-0 font-bold">
                            Lorem
                            ipsum dolor sit
                            amet,
                            consectetur adipiscing elit. <br> Donec urna sit adipiscing leo aliquam
                            tempor. <br> Rutrum eu commodo.</h1>
                    </div>

                </div>
                <button
                    class="cursor-pointer px-3  group text-xl overflow-hidden h-20 w-50 rounded-4xl py-5 absolute z-10 text-white border-2 border-white lg:ml-120 ml-0 mt-120">
                    <div class="flex">
                        <span
                            class=" orgin-left top-0 left-0 w-full h-full group-hover:bg-green-500/50 duration-500 absolute x-10"></span>
                        <span class="font-semibold group-hover:text-2xl duration-500 z-10">Learn More</span>
                        <span class="font-semibold text-3xl group-hover:ml-3 duration-500 z-10">→</span>
                    </div>
                </button>
                <button
                    class="cursor-pointer group overflow-hidden absolute h-20 w-50 rounded-4xl border-2 border-white lg:ml-180 ml-55 mt-120">
                    <span
                        class=" orgin-left top-0 left-0 w-full h-full group-hover:bg-green-500/50 duration-500 absolute x-10"></span>
                    <a href="#contact"
                        class="relative font-semibold group-hover:text-2xl z-10 duration-500 z-10 text-white">Contact
                        US</a>
                </button>
            </section>
            <img class="lg:w-full min:h-screen w-full h-screen"
                src="https://cdn.prod.website-files.com/5f186b75b647cf7c841cecae/5f18ad343c50732eed508036_image-hero-farm-template.jpg"
                alt="">
            <section id="product" class="h-600 w-full bg-gray-200">

                <div class=" flex bg-white/30 h-570 w-300 rounded-2xl overflow-auto ml-20 ">
                    <div class="border-r-1  h-80 w-150 mt-20">
                        <h1 class="text-7xl font-arial font-bold py-3 px-5">Our Store</h1>
                        <h1 class=" lg:block hidden italic font-arial text-gray-600 font-semibold py-3 px-5">Lorem ipsum
                            dolor sit amet,
                            consectetur <br>
                            adipiscing elit. Donec urna sit adipiscing leo <br> aliquam tempor.

                    </div>
                    <div class="mt-20 ml-30 ">
                        <h1 class=" text-shadow-lg/20 text-shadow-green-700  text-gray-600 text-2xl">Explore our
                            Products
                        </h1>
                    </div>
                    <div class="flex mt-40 absolute ml-180">
                        <button class=" hover:bg-green-600 duration-500 border-1 border-gray-300 rounded-4xl h-10 w-50">
                            <i class="fa-regular fa-lemon"></i>
                            <a href="#fruits" class="text-shadow-lg/30 ">Organic Fruits</a>
                        </button>
                        <button class=" hover:bg-green-600 duration-900 border-1 border-gray-300 rounded-4xl h-10 w-50">
                            <span class="icon-category-button">🥦</span>
                            <a href="#vegetable" class="text-shadow-lg/30">Organic Vegetables</a>
                        </button>
                    </div>
                    <div id="fruits"
                        class="absolute mt-100 py-3 flex gap-30 border-l-5 border-green-500 px-5  rounded-xl  ">
                        <div class="mt-20">
                            <h1 class="italic text-7xl font-arial font-semibold text-shadow-lg shadow-green-500">Organic
                                Fruits</h1>
                            <p class=" lg:block hidden font-arial py-3 text-2xl absolute ">Lorem ipsum dolor sit amet,
                                consectetur <br>
                                adipiscing elit. Quam pellentesque scelerisque.</p>

                        </div>
                        <img class="h-100 w-130 ml-10 rounded-xl"
                            src="https://cdn.prod.website-files.com/60e492c80c202f7eb23247f6/60e492c80c202fc2a53248df_image-store-category-01-farm-template.jpg"
                            alt="">
                    </div>
                    <div class="absolute mt-200   ">
                        <div class="lg:flex items-center gap-5">

                            <div v-for="Product in Products"
                                class=" transform-3d drop-shadow-xl backface-visible ml-5 bg-white/60 rounded-xl h-80 w-80 py-10 mt-10">
                                <img class="h-60  hover:rotate-y-180 hover:scale-110 duration-900 ml-5"
                                    :src="Product.img" alt="">
                                <button @click="ShowModal"
                                    class="cursor-pointer absolute ml-15 mt-5 group bg-green-500 hover:bg-green-600 duration-500  font-bold h-12 w-50 border-1 rounded-2xl overflow-hidden">

                                    <span class=" group-hover:text-white duration-500 cursor-pointer">Buy</span>
                                </button>
                                <h1 class=" font-arial font-semibold text-3xl text-center mt-17  ">{{Product.name}}</h1>
                                <h1 class=" underline font-arial font-semibold text-xl text-center text-gray-500  ">
                                    {{Product.price}}</h1>
                            </div>



                        </div>
                        <div id="vegetable"
                            class="absolute mt-30 py-3 flex gap-30 border-l-5 border-green-500 px-5  rounded-xl  ">
                            <div class="mt-20">
                                <h1 class="text-7xl font-arial font-semibold ">Organic Vegetables</h1>
                                <p class="font-arial py-3 text-2xl absolute italic ">Lorem ipsum dolor sit amet,
                                    consectetur
                                    <br>
                                    adipiscing elit. Quam pellentesque scelerisque.
                                </p>

                            </div>
                            <img class="h-100 w-130 ml-43 rounded-xl"
                                src="https://cdn.prod.website-files.com/60e492c80c202f7eb23247f6/60e492c80c202f1f413248de_image-store-category-02-farm-template.jpg"
                                alt="">
                        </div>
                        <div class=" mt-150">
                            <div class="lg:flex items-center gap-5">

                                <div v-for="Vegetable in Vegetables"
                                    class=" ml-5 bg-white/60 rounded-xl h-80 w-80 py-10 mt-10">
                                    <img class="h-60 hover:scale-115 duration-900 ml-5" :src="Vegetable.pic" alt="">
                                    <button
                                        class="cursor-pointer absolute ml-15 mt-5 group bg-green-500 hover:bg-green-600 duration-500  font-bold h-12 w-50 border-1 rounded-2xl overflow-hidden">

                                        <span class="group-hover:text-white duration-500">Buy</span>
                                    </button>
                                    <h1 class=" font-arial font-semibold text-3xl text-center mt-17  ">
                                        {{Vegetable.name}}
                                    </h1>
                                    <h1 class="underline font-arial font-semibold text-xl text-center text-gray-500  ">
                                        {{Vegetable.price}}</h1>
                                </div>
                            </div>


            </section>
            <Section id="contact" class="h-screen w-full ">
                <img class="absolute h-screen w-full opacity-80" src="hero.image.jpg" alt="">
                <div class="border-2 bg-green-400/30 rounded-xl relative z-10 h-120 w-100 top-20 inset-120">
                    <h1 class="text-4xl font-arial font-bold text-center text-shadow-lg/20"> Contact Us</h1>

                    <div class="px-10 py-5 ">
                        <h1>Contact Us</h1>
                        <input class=" shadow-xl border-1 bg-white/30 h-15 w-70 rounded-xl px-5  "
                            placeholder="Name"></input>
                        <input class=" shadow-xl border-1 bg-white/30 h-15 w-70 rounded-xl px-5 mt-5  "
                            placeholder="Email"></input>
                        <input class=" shadow-xl border-1 bg-white/30 h-15 w-70 rounded-xl px-5 mt-5  " type="number"
                            placeholder="Phone"></input>
                        <button
                            class="border-1 border-black h-15  w-30 rounded-xl mt-5 bg-green-400 hover:bg-green-600 duration-300 text-xl text-white font-arial font-semibold">Submit</button>
                    </div>
                    <div class="flex gap-2 text-2xl ml-5">
                        <i class="hover:text-green-500 durttion-900 text-shadow-lg/30 fa-brands fa-facebook"></i>
                        <i class="hover:text-green-500 durttion-900 text-shadow-lg/30 fa-brands fa-instagram"></i>
                        <i class="hover:text-green-500 durttion-900 text-shadow-lg/30 fa-brands fa-tiktok"></i>
                        <i class="hover:text-green-500 durttion-900 text-shadow-lg/30 fa-brands fa-twitter"></i>
                    </div>

                </div>



            </Section>
            <div class="h-40 w-full bg-green-400  ">

                <div class="flex justify-center">
                    <img class="h-10 mt-23 absolute"
                        src="https://cdn.prod.website-files.com/60e492c80c202f31c13247d8/60e492c80c202f88c03247fc_logo-farm-template.svg"
                        alt="">
                    <i class=" mt-35 fa-brands fa-facebook"></i>
                    <i class=" mt-35 fa-brands fa-instagram"></i>
                    <i class=" mt-35 fa-brands fa-twitter"></i>
                    <i class=" mt-35 fa-brands fa-amazon-pay"></i>
                    <i class=" mt-35 fa-brands fa-ebay"></i>
                    <i class=" mt-35 fa-brands fa-cash-app"></i>
                </div>
            </div>


        </div>
    </div>
    <!-- large -->
    <div class="xl:hidden lg:block md:hidden sm:hidden hidden">
        <header>
            <nav class="fixed w-full bg-green-500/80 mask-y-from-90%">
                <div class="flex justify-around py-5">

                    <div>
                        <a href="" class="w-">
                            <img src="https://cdn.prod.website-files.com/5f186b75b647cf7c841cecae/5f1899c321f9e6021e4a3fc4_logo-02-farm-template.svg"
                                alt="">
                        </a>
                    </div>
                    <div class="flex py-5 gap-2 text-2xl font-arial font-bold text-white">
                        <a class="text-green-800" href="#home">Home</a>
                        <a class="hover:text-green-500" href="">Product</a>
                        <a class="hover:text-green-500" href="">Contact</a>
                    </div>
                    <div class="py-5 gap-5 ">
                        <i class="text-3xl fa-brands fa-instagram"></i>
                        <i class="text-3xl fa-brands fa-facebook"></i>
                        <i class="text-3xl fa-brands fa-twitter"></i>
                    </div>
                </div>



            </nav>
        </header>
        <img class="lg:h-screen h-screen lg:w-full w-full "
            src="https://cdn.prod.website-files.com/5f186b75b647cf7c841cecae/5f18ad343c50732eed508036_image-hero-farm-template.jpg"
            alt="">
        <section id="home">
            <div class="absolute lg:top-50 top-20">
                <h1 class=" lg:text-7xl text-2xl font-arial font-bold text-white text-center text-shadow-lg/30">
                    Organic food from
                    <br>
                    the ground to your table
                </h1>
                <div class="flex justify-center mt-50 gap-10">

                    <button
                        class="h-15 w-50 border-1 border-white rounded-4xl hover:bg-green-600/60 text-white duration-500 font-arial font-semibold hover:text-2xl">Learn
                        More</button>
                    <button
                        class="h-15 w-50 border-1 border-white rounded-4xl hover:bg-green-600/60 text-white duration-500 font-arial font-semibold hover:text-2xl">Contact
                        Us</button>
                </div>

            </div>
        </section>
        <section class="w-full h-screen">
            <div class="bg-gray-200 h-screen w-full">
                <div class="text-center">
                    <h1 class="text-5xl font-arial font-bold ">Our Product</h1>
                    <p class="font-arial font-semibold text-2xl animate-pulse">"Explore Our Product"</p>

                </div>
                <div class="flex justify-center">
                    <button class="h-15 w-70 border-1 rounded-4xl hover:bg-green-500 hover:text-white duration-500">
                        <i class="fa-solid fa-lemon"></i>
                        <span>Organic Fruits</span>
                    </button>
                    <button class="h-15 w-70 border-1 rounded-4xl hover:bg-green-500 hover:text-white duration-500">
                        <i class="fa-solid fa-carrot"></i>
                        <span>Organic Vegetables</span>
                    </button>
                </div>
                <div>
                    <h1 class="font-arial font-semibold text-4xl mt-10 text-center">Organic Fruits</h1>
                    <div class="border-b-5 h-80 rounded-2xl border-green-500">

                        <div class="flex justify-center gap-5">
                            <div v-for="Product in Products"
                                class="h-50 w-50 border-1 rounded-lg border-yellow-500 mt-5">
                                <img class="h-40" :src="Product.img" alt="">
                                <h1 class="text-center font-arial font-semibold">{{Product.name}}</h1>
                                <button
                                    class="h-8 rounded-b-xl bg-green-500 text-white font-arial font-semibold w-50 border-1">Buy</button>


                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h1 class="font-arial font-semibold text-4xl mt-10 text-center">Organic Vegetables</h1>
                    <div class="border-b-5 h-80 rounded-2xl border-green-500">

                        <div class="flex justify-center gap-5">
                            <div v-for="Vegetable in Vegetables"
                                class="h-50 w-50 border-1 rounded-lg border-yellow-500 mt-5">
                                <img class="h-40" :src="Vegetable.pic" alt="">
                                <h1 class="text-center font-arial font-semibold">{{Vegetable.name}}</h1>
                                <button
                                    class="h-8 rounded-b-xl bg-green-500 text-white font-arial font-semibold w-50 border-1">Buy</button>


                            </div>
                        </div>


                    </div>

        </section>
        <section>
            <img class="w-full absolute"
                src="https://images.unsplash.com/photo-1464226184884-fa280b87c399?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
            <div class="py-20">
                <div class="backdrop-blur bg-white./30 h-150 w-150 rounded-xl relative z-10 ml-50 rounded-xl ">
                    <h1 class="text-center font-arial font-semibold text-5xl">Contact Us</h1>
                    <div class="py-5 gap-5 ">
                        <i class="text-3xl fa-brands fa-instagram"></i>
                        <i class="text-3xl fa-brands fa-facebook"></i>
                        <i class="text-3xl fa-brands fa-twitter"></i>
                    </div>
                    <div class="flex flex-col py-5">

                        <input class="h-15 w-70 border-1 rounded-4xl px-5 " type="" placeholder="Name" name="" id="">
                        <input class="h-15 w-70 border-1 rounded-4xl px-5 mt-2 " type="" placeholder="Email" name=""
                            id="">
                        <input class="h-15 w-70 border-1 rounded-4xl px-5 mt-2 " type="" placeholder="Phone" name=""
                            id="">
                        <button
                            class="h-15 w-70 bg-green-500 text-white font-arial font-semibold text-xl mt-2 rounded-4xl">Submit</button>
                    </div>

                </div>
            </div>
        </section>
        <section class="w-full h-70 bg-green-500">
            <div class="flex justify-center">
                <img class="h-10 mt-10 absolute"
                    src="https://cdn.prod.website-files.com/60e492c80c202f31c13247d8/60e492c80c202f88c03247fc_logo-farm-template.svg"
                    alt="">
                <i class="text-xl  fa-brands fa-facebook"></i>
                <i class="text-xl  fa-brands fa-instagram"></i>
                <i class="text-xl  fa-brands fa-twitter"></i>
                <i class="text-xl  fa-brands fa-amazon-pay"></i>
                <i class="text-xl  fa-brands fa-ebay"></i>
                <i class="text-xl  fa-brands fa-cash-app"></i>
            </div>

        </section>
    </div>

    </div>
    <div class="xl:hidden lg:hidden md:block sm:hidden hidden">
        <header>
            <nav class="fixed w-full bg-green-500/80 mask-y-from-90%">
                <div class="flex justify-around py-5">
                    <a href="/" class="w-25">
                        <img src="https://cdn.prod.website-files.com/5f186b75b647cf7c841cecae/5f1899c321f9e6021e4a3fc4_logo-02-farm-template.svg"
                            alt="">
                    </a>
                    <div>
                        <i @click="Down" class="fa-solid fa-bars fa-2xl"></i>
                    </div>

                </div>

            </nav>
        </header>
        <div v-if="drop"
            class="flex flex-col h-30 w-30 border-1 border-black  rounded-bl-4xl ml-140 top-10 absolute bg-green-500/30 rounded-lg font-arial font-bold text-white duration-300 ">
            <a href="#home">Home</a>
            <a href="">Product</a>
            <a href="">Contact</a>
        </div>
        <img class="lg:h-screen h-screen lg:w-full w-full "
            src="https://cdn.prod.website-files.com/5f186b75b647cf7c841cecae/5f18ad343c50732eed508036_image-hero-farm-template.jpg"
            alt="">
        <section id="home">
            <div class="absolute lg:top-50 top-20">
                <h1 class="  text-3xl mt-70 font-arial font-bold text-white text-center text-shadow-lg/30">
                    Organic food from
                    <br>
                    the ground to your table
                </h1>
                <div class="flex justify-center mt-50 gap-10 ml-40">

                    <button
                        class="h-15 w-50 border-1 border-white rounded-4xl hover:bg-green-600/60 text-white duration-500 font-arial font-semibold hover:text-2xl">Learn
                        More</button>
                    <button
                        class="h-15 w-50 border-1 border-white rounded-4xl hover:bg-green-600/60 text-white duration-500 font-arial font-semibold hover:text-2xl">Contact
                        Us</button>
                </div>

            </div>
        </section>
        <section class="h-screen w-full">
            <div class="h-screen w-full bg-gray-200">
                <h1 class="text-center font-arial font-bold text-5xl">Our Product</h1>
                <p class="text-center font-arial font-bold animate-pulse">"Explore Our Product"</p>
                <div class="flex justify-center">
                    <button class="h-15 w-70 rounded-4xl border-1 hover:bg-green-500 hover:text-white hover:text-xl">
                        <i class="fa-solid fa-lemon"></i>
                        <span>Organic Fruits</span>
                    </button>
                    <button class="h-15 w-70 rounded-4xl border-1 hover:bg-green-500 hover:text-white hover:text-xl">
                        <i class="fa-solid fa-carrot"></i>
                        <span>Organic Vegetables</span>
                    </button>
                </div>
                <div>
                    <h1 class="font-arial font-semibold text-4xl mt-10 text-center">Organic Fruits</h1>
                    <div class="border-b-5 h-80 rounded-2xl border-green-500">

                        <div class="flex justify-center gap-5">
                            <div v-for="Product in Products"
                                class="h-50 w-50 border-1 rounded-lg border-yellow-500 mt-5">
                                <img class="h-40" :src="Product.img" alt="">
                                <h1 class="text-center font-arial font-semibold">{{Product.name}}</h1>
                                <button
                                    class="h-8 rounded-b-xl bg-green-500 text-white font-arial font-semibold w-50 border-1">Buy</button>


                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h1 class="font-arial font-semibold text-4xl mt-10 text-center">Organic Vegetables</h1>
                    <div class="border-b-5 h-80 rounded-2xl border-green-500">

                        <div class="flex justify-center gap-5">
                            <div v-for="Vegetable in Vegetables"
                                class="h-50 w-50 border-1 rounded-lg border-yellow-500 mt-5">
                                <img class="h-40" :src="Vegetable.pic" alt="">
                                <h1 class="text-center font-arial font-semibold">{{Vegetable.name}}</h1>
                                <button
                                    class="h-8 rounded-b-xl bg-green-500 text-white font-arial font-semibold w-50 border-1">Buy</button>


                            </div>
                        </div>


                    </div>

                </div>


        </section>

        <img class="w-full absolute mt-5"
            src="https://images.unsplash.com/photo-1464226184884-fa280b87c399?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
        <div class="py-20">
            <div class="backdrop-blur bg-white./30 h-105 w-100 rounded-xl relative z-10 ml-50 rounded-xl ">
                <h1 class="text-center font-arial font-semibold text-5xl">Contact Us</h1>
                <div class="py-5 gap-5 ">
                    <i class="text-3xl fa-brands fa-instagram"></i>
                    <i class="text-3xl fa-brands fa-facebook"></i>
                    <i class="text-3xl fa-brands fa-twitter"></i>
                </div>
                <div class="flex flex-col py-5">

                    <input class="h-15 w-70 border-1 rounded-4xl px-5 " type="" placeholder="Name" name="" id="">
                    <input class="h-15 w-70 border-1 rounded-4xl px-5 mt-2 " type="" placeholder="Email" name="" id="">
                    <input class="h-15 w-70 border-1 rounded-4xl px-5 mt-2 " type="" placeholder="Phone" name="" id="">
                    <button
                        class="h-15 w-70 bg-green-500 text-white font-arial font-semibold text-xl mt-2 rounded-4xl">Submit</button>
                </div>

            </div>
        </div>
        </section>
        <section class="w-full h-70 bg-green-500">
            <div class="flex justify-center">
                <img class="h-10 mt-10 absolute"
                    src="https://cdn.prod.website-files.com/60e492c80c202f31c13247d8/60e492c80c202f88c03247fc_logo-farm-template.svg"
                    alt="">
                <i class="text-xl  fa-brands fa-facebook"></i>
                <i class="text-xl  fa-brands fa-instagram"></i>
                <i class="text-xl  fa-brands fa-twitter"></i>
                <i class="text-xl  fa-brands fa-amazon-pay"></i>
                <i class="text-xl  fa-brands fa-ebay"></i>
                <i class="text-xl  fa-brands fa-cash-app"></i>
            </div>

    </div>
    </section>
    <div class="xl:hidden lg:hidden md:hidden sm:block block">
        <header class="fixed z-10 w-110 h-20 py-5 bg-green-500/80 mask-y-from-90%">
            <nav class="w-110 ">
                <div class="flex justify-around">
                    <a href="/" class="w-25">
                        <img src="https://cdn.prod.website-files.com/5f186b75b647cf7c841cecae/5f1899c321f9e6021e4a3fc4_logo-02-farm-template.svg"
                            alt="">
                    </a>
                    <div>
                        <i @click="Down" class="fa-solid fa-bars fa-2xl"></i>
                    </div>
                </div>
            </nav>
        </header>
        <div v-if="drop"
            class="fixed z-10 flex flex-col h-50 w-30 border-1 rounded-bl-2xl rounded-lg  ml-76 top-10 text-white font-arial font-bold px-2 z-10 py-10 bg-green-500">
            <a class="text-2xl" href="#home">Home</a>
            <a class="text-2xl" href="#product">Product</a>
            <a class="text-2xl" href="#contact">Contact</a>
        </div>
        <img class="h-screen  max-w-110 op-0 "
            src="https://cdn.prod.website-files.com/5f186b75b647cf7c841cecae/5f18ad343c50732eed508036_image-hero-farm-template.jpg"
            alt="">
        <section id="home">
            <div class="absolute lg:top-50 top-20">

                <div class="flex flex-col justify-center mt-30 justify-center ml-30 gap-10">
                    <h1 class="animate-ping font-arial font-bold text-2xl">@not.b3rrt</h1>

                    <a href="https://github.com/notb3rrt-syntax"> <button
                            class="h-15 w-50 border-1 border-white text-white rounded-4xl hover:bg-green-600/60 hover:text-white duration-500 font-arial font-semibold hover:text-2xl">Learn
                            More</button></a>
                    <a href="#contact"> <button
                            class="h-15 w-50 border-1 border-white text-white rounded-4xl hover:bg-green-600/60 hover:text-white duration-500 font-arial font-semibold hover:text-2xl">Contact
                            Us</button></a>
                </div>

            </div>
        </section>
        <section id="product" class="h-screen w-110">
            <div class="h-245  w-110 bg-gray-200">
                <h1 class="text-center font-arial font-bold text-5xl">Our Product</h1>
                <p class="text-center font-arial font-bold animate-pulse">"Explore Our Product"</p>
                <div class="flex justify-center">
                    <button class="h-15 w-70 rounded-4xl border-1 hover:bg-green-500 hover:text-white hover:text-xl">
                        <i class="fa-solid fa-lemon"></i>
                        <span>Organic Fruits</span>
                    </button>
                    <button class="h-15 w-70 rounded-4xl border-1 hover:bg-green-500 hover:text-white hover:text-xl">
                        <i class="fa-solid fa-carrot"></i>
                        <span>Organic Vegetables</span>
                    </button>
                </div>
                <div>
                    <div class="flex">
                        <h1
                            class="font-arial font-semibold text-4xl mt-10 text-center border-t-5 border-r-1 border-green-500 rounded-t-4xl">
                            Organic Fruits</h1>
                        <h1
                            class="font-arial font-semibold text-4xl mt-10 text-center border-t-5 border-l-1  border-green-500 rounded-t-4xl">
                            Organic Vegetable</h1>

                    </div>
                    <div class="flex">

                        <div class=" h-80 rounded-2xl border-green-500 ml-4">

                            <div class="flex flex-col justify-center gap-5">
                                <div v-for="Product in Products" class="h-50 w-50 border-1  border-yellow-500 mt-5">
                                    <img class="h-40" :src="Product.img" alt="">
                                    <h1 class="text-center font-arial font-semibold">{{Product.name}}</h1>
                                    <button
                                        class="h-8 rounded-b-xl bg-green-500 text-white font-arial font-semibold w-50 border-1">Buy</button>


                                </div>
                            </div>
                        </div>
                        <div class=" h-80 rounded-2xl border-green-500">

                            <div class="flex flex-col justify-center gap-5">
                                <div v-for="Vegetable in Vegetables" class="h-50 w-50 border-1 border-orange-500 mt-5">
                                    <img class="h-40" :src="Vegetable.pic" alt="">
                                    <h1 class="text-center font-arial font-semibold">{{Vegetable.name}}</h1>
                                    <button
                                        class="h-8 rounded-b-xl bg-green-500 text-white font-arial font-semibold w-50 border-1">Buy</button>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </section>
        <section id="contact">
            <img class="max-w-110  mt-120 h-180 absolute mt-11 rounded-t-xl "
                src="https://images.unsplash.com/photo-1464226184884-fa280b87c399?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
            <div class="py-20">
                <div
                    class="backdrop-blur bg-white./30 h-120 w-80 rounded-xl relative  z-10 rounded-4xl ml-15 mt-130 px-5 border-1">
                    <h1 class="text-center font-arial font-semibold text-5xl">Contact Us</h1>
                    <div class="py-5 gap-5 ">
                        <a href="https://instagram.com" target="_blank"> <i class="text-3xl fa-brands fa-instagram"></i></a>
                        <a href="https://facebbok.com" target="_blank"> <i class="text-3xl fa-brands fa-facebook"></i></a>
                        <a href="https://twitter.com" target="_blank"> <i class="text-3xl fa-brands fa-twitter"></i></a>
                        <a href="https://tiktok.com/@not.b3rrt" target="_blank"> <i class=" text-3xl fa-brands fa-tiktok"></i></a>
                    </div>
                    <div class="flex flex-col py-5">

                        <input class="h-15 w-70 border-1 rounded-4xl px-5 " type="" placeholder="Name" name="" id="">
                        <input class="h-15 w-70 border-1 rounded-4xl px-5 mt-2 " type="" placeholder="Email" name=""
                            id="">
                        <input class="h-15 w-70 border-1 rounded-4xl px-5 mt-2 " type="" placeholder="Phone" name=""
                            id="">
                        <button
                            class="h-15 w-70 bg-green-500 text-white font-arial font-semibold text-xl mt-2 rounded-4xl">Submit</button>
                    </div>

                </div>
            </div>

        </section>
        <section class="bg-green-500        
         mask-b-from-20% h-50 w-110 z-10 mt-15 ">

            <div class="z-10 relative flex justify-center text-2xl py-5 ">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-amazon-pay"></i>
                <i class="fa-brands fa-amazon"></i>

            </div>
            <div class="ml-30">

                <a href="" class="w-15 ">
                    <img src="https://cdn.prod.website-files.com/5f186b75b647cf7c841cecae/5f1899c321f9e6021e4a3fc4_logo-02-farm-template.svg"
                        alt="">
                </a>
            </div>



        </section>


    </div>


    <script>
        Vue.createApp({
            data() {
                return {
                    Products: [
                        { img: 'https://th.bing.com/th/id/R.4e99a25c2a409a6221146c1c4878d9ee?rik=Hfd6X%2bSMOni75g&riu=http%3a%2f%2fwww.pngall.com%2fwp-content%2fuploads%2f2016%2f05%2fStrawberry-PNG-Images.png&ehk=aSmOuUNnmxoiDcjIC6M4wJlxqVUksE3vC%2b7Tby2Byk0%3d&risl=&pid=ImgRaw&r=0', name: 'Strawberry', price: 'price' },
                        { img: 'https://static.vecteezy.com/system/resources/previews/035/197/712/large_2x/ai-generated-red-apple-isolated-on-transparent-background-free-png.png', name: 'Apple', price: 'price' },
                        { img: 'https://www.pngall.com/wp-content/uploads/2016/04/Banana-PNG-Picture.png', name: 'Banana', price: 'price' }

                    ],
                    Vegetables: [
                        { pic: "https://static.vecteezy.com/system/resources/previews/044/279/863/non_2x/broccoli-on-transparent-background-png.png", name: 'Broccoli', price: 'price' },
                        { pic: "https://static.vecteezy.com/system/resources/previews/035/642/320/non_2x/ai-generated-potato-food-free-png.png", name: 'Potatoes', price: 'price' },
                        { pic: "https://pluspng.com/img-png/two-juicy-tomato-png-image-1392.png", name: 'Tomatoes', price: 'price' }


                    ],
                    drop: false,





                }
            },
            methods: {
                Down() {
                    this.drop = true;
                }


            }
        }
        ).mount('#app');
    </script>

</body>

</html>